<!DOCTYPE html>
<html>

<head>

    <title>ITS Traffic Violation System</title>

    <link rel="stylesheet"
          href="/static/css/style.css">

</head>

<body>

    <div class="container">

        <div class="login-box">

            <h1>
                ITS Traffic Violation System
            </h1>

            <a href="/citizen">

                <button class="role-btn">

                    NGƯỜI DÂN

                </button>

            </a>

            <a href="/admin">

                <button class="role-btn">

                    CƠ QUAN QUẢN LÝ

                </button>

            </a>

        </div>

    </div>

</body>

</html>